.dashboard:hover {
  animation: rotate 3s infinite;
}

@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
}

.labels:hover {
  animation: animate 2s backwards;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
