.dashboard:hover {
  animation: rotate 3s infinite;
}

@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
}

.labels:hover {
  animation: animate 2s backwards;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

@keyframes moveIcon {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(100px);
  }
}

.search-input:focus + .search-icon {
  animation: moveIcon 0.5s forwards;
}
